*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #242F40;
    margin-top: 10px;
}
#game{
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    height: 18vh;
    width: 18vh;
    margin-right: 10px;
    background-color: #CCA43B;
    border: none;
    border-radius: 1rem;
    color: #242F40;
    font-size: 10vh;
}
.newclr{
    color: rgb(149, 1, 1);
}
#reset{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.button{
    height: 50px;
    width: 200px;
    font-size: 30px;
    border-radius: 1rem;
    border: none;
    background-color: #242F40;
    color: white;
    text-align: center;
}
.hide{
    display: none;
}
 .msg{
    height: 100vh;
    text-align: center;
    font-size: 18vh;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
    text-align: center;
 }